img, video, picture, canvas {
    max-width: 100% !important; height: auto !important;
}

.is-dragging, .lasso-cutout, .draggable-word, .draggable-letter {
    max-width: none !important;
}

* {
    cursor: grab !important;
    user-select: none !important;
    -webkit-user-drag: none !important; 
}

*:active { cursor: grabbing !important; }

.is-dragging {
    filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.4)) !important;
    z-index: 999999 !important;
    transition: filter 0.1s ease;
}

/* Inline preserves text wrap natively until picked up (when it becomes absolute) */
.draggable-word, .draggable-letter { display: inline; }

.ephemeral-lasso {
    position: absolute;
    z-index: 2147483647 !important; 
    cursor: crosshair !important;
}

.lasso-cutout, .draggable-line {
    z-index: 5000; position: absolute;
}